:global {
    .ant-table-thead>tr>th,
    .ant-table-tbody>tr>td {
        padding: 8px;
    }
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}